a.pager{
	display: inline-block;
	padding: 5px 10px;
	border: 3px solid #000;
	background-color: #FFF;
	color: #000 !important;
	font-wight: bold;
	border-radius: 5px;
	box-sizing: border-box;
}

a.pager.current{
	background-color: #F00;
	color: #FFF !important;
}

.forums-post{
	min-height: 200px;
	border-radius: 20px;
	
}

.forums-post>.forums-post-content a, .forums-post>.forums-post-blank a{
	color: #222;
}

.forums-post>.forums-post-header{
	background-color: #304068;
	color: #FFF;
	padding: 4px 18px;
	display: flex;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: auto;
}

.forums-post>.forums-post-header>span.num{
	min-width:120px;
	display: inline-block;
	flex: 0 1 120px;
}

.forums-post>.forums-post-content, .forums-post>.forums-post-blank{
	background-color: #FFFFFF;
	color: #000;
}

.forums-post>.forums-post-blank:nth-of-type(2n+1){
	background-color: #DDDDDD;
}

.forums-post>.forums-post-content{
	min-height: 170px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: auto;
}

.forums-post>.forums-post-content>.forums-post-author{
	float: left;
	width: 125px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
}

.forums-post>.forums-post-content>.forums-post-text, .forums-post>.forums-post-blank>.forums-post-text{
	padding: 5px;
	box-sizing: border-box;
}

.forums-post>.forums-post-content>.forums-post-author+.forums-post-text{
	margin-left: 125px;
}

.forums-post textarea{
	 resize: vertical;
	 height: 150px;
	 min-height: 136px;
	 border: 1px solid black;
	 border-radius: 20px;
	 padding: 20px;
}

.forums-topic-list{
	display: flex;
}

.forums-topic-list>span{
	white-space: nowrap;
}

.forums-topic-list select{
		width: 150px;
	}

@media screen and (max-device-width : 800px){
	.forums-topic-list{
		flex-direction: column;
	}
	
	.forums-topic-list>span{
		white-space: initial;
	}
	
	.forums-topic-list select{
		width: 100%;
	}
}
